In [1]:
# Import the libraries
%matplotlib inline
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
from mpl_toolkits.mplot3d import Axes3D 
from sklearn import linear_model
import seaborn as sns
from statsmodels.graphics.gofplots import ProbPlot
from statsmodels.compat import lzip
import statsmodels.stats.api as sms
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm 
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import linear_model
from pandas import DataFrame
import math
import numpy
from statistics import *
from numpy import nan

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Read the race file
from google.colab import drive
drive.mount("/content/drive/")
%cd '/content/drive/My Drive/DS440/Income_and_race'
!pwd #Prints the present working directory
racedata = pd.read_csv('race.csv')

Mounted at /content/drive/
/content/drive/My Drive/DS440/Income_and_race
/content/drive/My Drive/DS440/Income_and_race

   census_block_group  ...  Two.races.excluding.Some.other.race.and.three.or.more.races.ME
0         10010201001  ...                                                 11
1         10010201002  ...                                                 46
2         10010202001  ...                                                 30
3         10010202002  ...                                                 24
4         10010203001  ...                                                103

[5 rows x 21 columns]

In [3]:
# Read the race data
minorityportion = 1-(racedata['race.white.alone.estimate'].astype(float)/racedata['total.population'].astype(float))
minorityportion = minorityportion.astype(float)
racedata["minorityportion"]=minorityportion

   census_block_group  ...  minorityportion
0         10010201001  ...         0.214765
1         10010201002  ...         0.143874
2         10010202001  ...         0.623958
3         10010202002  ...         0.502427
4         10010203001  ...         0.373519

[5 rows x 22 columns]

In [6]:
# Read income data 
!pwd #Prints the present working directory
incomedata = pd.read_csv('income.csv')
incomedata.head()

/content/drive/My Drive/DS440/Income_and_race

   census_block_group  total.households  ...  MEDIAN.INCOME  MEDIAN.INCOME.ME
0         10010201001               284  ...            NaN               NaN
1         10010201002               456  ...        77813.0           11618.0
2         10010202001               386  ...        25179.0           20248.0
3         10010202002               452  ...        45104.0            6377.0
4         10010203001               824  ...        55222.0            2034.0

[5 rows x 37 columns]

In [7]:
# impute median income data for census blocks with missing income data

missing_income_data=incomedata[incomedata["MEDIAN.INCOME"].isna()]
missing_income_data=missing_income_data[["census_block_group", "total.households", "less.than.10000", "10000.to.14999", "15000.to.19999", "20000.to.24999", "25000.to.29999", "30000.to.34999"
, "35000.to.39999", "40000.to.44999", "45000.to.49999", "50000.to.59999", "60000.to.74999", "75000.to.99999", "10000.to.124999", "125000.to.149999", "150000.to.199999", "200000.or.more"]]
missing_income_data = missing_income_data[missing_income_data['total.households'] != 0]
missing_income_data.head()
median=(missing_income_data["total.households"]+1)/2
flooring=numpy.floor(median)
missing_income_data["median"]=flooring
missing_income_data_temp=missing_income_data.drop(columns=["census_block_group", "total.households", "median"])
the_list=(missing_income_data_temp.values.tolist())
the_cum_list=[]
for i in range(0, len(the_list)):
  a_list=the_list[i]
  x=np.cumsum(a_list)
  the_cum_list.append(list(x))
missing_income_data.head()

pos=[]
check=[]
flooring_interest=list(flooring)

for i in range(0, len(the_cum_list)):
  #print(i)
  a_list=the_cum_list[i]
  interest=flooring_interest[i]
  #print(a_list)
  for n in range(0, len(a_list)):
    if (a_list[n]) < interest:
      continue
    else:
      #print(a_list)
      pos.append(n)
      check.append(a_list)
      break
len(check)


#type(missing_income_data["the_list"])

pred_median=[]
for i in range(0, len(pos)):
  x=pos[i]
  if x==1:
    y=9999/2
  if x==2:
    y=(10000+ 14999)/2
  if x==3:
    y=(15000+ 19999)/2
  if x==4:
    y=(20000+ 24999)/2
  if x==5:
    y=(25000+ 29999)/2
  if x==6:
    y=(30000+ 34999)/2
  if x==7:
    y=(35000+ 39999)/2
  if x==8:
    y=(40000+ 44999)/2
  if x==9:
    y=(45000+49999)/2
  if x==10:
    y=(50000+ 59999)/2
  if x==11:
    y=(60000+ 74999)/2
  if x==12:
    y=(75000+ 99999)/2
  if x==13:
    y=(100000+ 124999)/2
  if x==14: 
    y=(125000+ 149999)/2
  if x==15:
    y=(150000+ 199999)/2
  if x==16:
    y=200000
  pred_median.append(y)
len(pred_median)
missing_income_data["MEDIAN.INCOME.PRED"]=pred_median
missing_income_data.head()
missing_income_data_total = pd.merge(incomedata, missing_income_data, how="left", on=["census_block_group"])
# missing_income_data_total.shape
final_list=[]
x=list(incomedata["MEDIAN.INCOME"])
x = [str(l) for l in x]
y=list(missing_income_data_total["MEDIAN.INCOME.PRED"])
y = [str(l) for l in y]

for i in range(0,len(x)):
  income=x[i]
  if income==nan or income=="nan":
    median=y[i]
    final_list.append(median)
  else:
    median=income
    final_list.append(median)

final_list = [float(l) for l in final_list]
incomedata["MEDIAN.INCOME"]=final_list
result = pd.merge(incomedata, racedata, how="inner", on=["census_block_group"])
result = result[result['total.population'] != 0]
relevant_data = result[["census_block_group", "minorityportion", "MEDIAN.INCOME", "total.population"]]
relevant_data.head()
population=relevant_data["total.population"]
census_block_classification=[]
len(list(population))

     census_block_group  total.households  ...  200000.or.more  median
0           10010201001               284  ...               0   142.0
88          10030112024               326  ...              82   163.0
104         10030114062               318  ...               8   159.0
283         10150020005               430  ...               0   215.0
313         10159819011                 4  ...               0     2.0

[5 rows x 19 columns]

In [24]:
# Classify rural or urban based on census definition
def census_classification(population):
  for i in range(0,len(population)):
    int_population = (list(population)[i])
    if int_population<2500:
      classification="Rural"
      census_block_classification.append(classification)
    elif int_population>=50000:
      classification="Urbanized Area"
      census_block_classification.append(classification)
    else:
      classification="Urban Clusters"
      census_block_classification.append(classification)
  return census_block_classification

census_block_classification=census_classification(population)
relevant_data["census_block_classification"]=census_block_classification

In [28]:
# write the data
relevant_data.to_csv('relevant.data.csv')  
result["census_block_classification"]=census_block_classification
result.to_csv('interesting_data.csv')