In [ ]:
%matplotlib inline
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression
from mpl_toolkits.mplot3d import Axes3D 
from sklearn import linear_model
import seaborn as sns
from statsmodels.graphics.gofplots import ProbPlot
from statsmodels.compat import lzip
import statsmodels.stats.api as sms
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm 
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import linear_model
from pandas import DataFrame
import math
import numpy
from statistics import *
from numpy import nan
import json

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Make suitable changes here. My .csv file is in :  My Drive/Colab Notebooks
from google.colab import drive
drive.mount("/content/drive/")
%cd '/content/drive/My Drive'
!pwd #Prints the present working directory
data = pd.read_csv('data.csv')

Mounted at /content/drive/
/content/drive/.shortcut-targets-by-id/1wxiitqxEJbExHAayMXt1dxD20MrozfKs/2020-2021
/content/drive/.shortcut-targets-by-id/1wxiitqxEJbExHAayMXt1dxD20MrozfKs/2020-2021

In [ ]:
safegraph_place_id=data["safegraph_place_id"]

In [ ]:
safegraph_place_id

0          sg:00cddb8fcb394c79bbcd47ed609a6e6f
1          sg:03ebfe3e177841c0b2ee06c46b78463b
2          sg:08296b30359d417f92647b9084cab0ad
3          sg:0937f1278b2849479c0748b0c3ac14d1
4          sg:0b66fabec6454241b54862d337900126
                          ...
2144076    sg:f31442fb1aed4fd6b035a76b6d9d8956
2144077    sg:f66059820c634a82b4396b66f7fd8d8f
2144078    sg:f92f85be180f4f8aaf5f4e9a5ac0e3be
2144079    sg:f9deee054bb746b9b1c704384747e06c
2144080    sg:ff6a2bf579c946c6886fef14fba4233e
Name: safegraph_place_id, Length: 2144081, dtype: object

In [ ]:
d=data["visitor_home_cbgs"]

In [ ]:
def string_to_dict(dict_string):
    # Convert to proper json format
    dict_string = dict_string.replace("'", '"')
    return json.loads(dict_string)

data.visitor_home_cbgs = data.visitor_home_cbgs.apply(string_to_dict)

In [ ]:
type(d[2])

dict

In [ ]:
def orderedlist_for_id_loop(d, safegraph_place_id):
  ordered_list_of_id=[]
  for i in range(0,(len(d))):
    #x=d[i]
    #safe_graph_id_for_this=safegraph_place_id[i]
    for n in range(0, (len(d[i]))):
      #whole_dict_element=list((d[i]).items())[n]
      #key_element=list(d[i])[n]
      #new_key=key_element+safegraph_place_id[i]
      #(d[i])[new_key] = (d[i]).pop(key_element)
      ordered_list_of_id.append(safegraph_place_id[i])
  return ordered_list_of_id

In [ ]:
ordered_list_of_id=orderedlist_for_id_loop(d,safegraph_place_id)

In [ ]:
def census_block_list_loop(d):
  census_block_list=[]
  for i in range(0,(len(d))):
    #x=d[i]
    #safe_graph_id_for_this=safegraph_place_id[i]
    for n in range(0, (len(d[i]))):
      #whole_dict_element=list((d[i]).items())[n]
      key_element=list(d[i])[n]
      #new_key=key_element+safegraph_place_id[i]
      #(d[i])[new_key] = (d[i]).pop(key_element)
      # print(key_element)
      census_block_list.append(key_element)
  return census_block_list

In [ ]:
census_block_list=census_block_list_loop(d)

In [ ]:
census_block_list[:5]

['550250127002',
 '550250109044',
 '131210113052',
 '131210106013',
 '131210113031']

In [ ]:
import pickle
with open("test.txt", "wb") as fp:
  pickle.dump(census_block_list, fp)

In [ ]:
def census_block_values_loop(d):
  census_block_values=[]
  for i in range(0,(len(d))):
    #x=d[i]
    #safe_graph_id_for_this=safegraph_place_id[i]
    for n in range(0, (len(d[i]))):
      #whole_dict_element=list((d[i]).items())[n]
      key_element=list(d[i])[n]
      #new_key=key_element+safegraph_place_id[i]
      #(d[i])[new_key] = (d[i]).pop(key_element)
      #print(key_element)
      val=(d[i]).get(key_element)
      census_block_values.append(val)
  return census_block_values

In [ ]:

census_block_values=census_block_values_loop(d)

In [ ]:
def theforloop(d, wanted_list):
  list1=[]
  for i in range(0, (len(d))):
    for n in range(0, (len(d[i]))):
      val=wanted_list[i]
      list1.append(val)
  return (list1)

In [ ]:
start=data["date_range_start"]
end=data["date_range_end"]
park_long=data["longitude"]
park_lat=data["latitude"]
starting_dates_list=theforloop(d,start)

In [ ]:
ending_dates_list=theforloop(d,end)
park_long=theforloop(d,park_long)
park_lat=theforloop(d,park_lat)

In [ ]:
len(ending_dates_list)==len(park_long)

#len(ending_dates_list)==len(census_block_values)

True

In [ ]:
def to_include_relevant_data(d, wanted_list):
  list2=[]
  for i in range(0,(len(d))):
    for n in range(0, (len(d[i]))):
      val=wanted_list[i]
      list2.append(val)
  return (list2)

In [ ]:
start_dates_list=to_include_relevant_data(d,data["date_range_start"])
ending_dates_list=to_include_relevant_data(d,data["date_range_end"])
park_lat=to_include_relevant_data(d,data["latitude"])
park_long=to_include_relevant_data(d,data['longitude'])

In [ ]:
len(ending_dates_list)==len(park_lat)

True

In [ ]:
our_data=pd.DataFrame()
our_data["vistor_census_block"]=census_block_list
our_data["vistor_count"]=census_block_values
our_data["safegraph_place_id"]=ordered_list_of_id
our_data["date_range_start"]=starting_dates_list
our_data["date_range_end"]=ending_dates_list
our_data["lat"]=park_lat
our_data["long"]=park_long

In [ ]:
our_data

         vistor_census_block  vistor_count  ...        lat       long
0               550250127002             4  ...  43.123733 -89.747149
1               550250109044             4  ...  43.123733 -89.747149
2               131210113052            13  ...  33.657731 -84.486954
3               131210106013             8  ...  33.657731 -84.486954
4               131210113031             7  ...  33.657731 -84.486954
...                      ...           ...  ...        ...        ...
48920951        550791018001             4  ...        NaN        NaN
48920952        550590028003             4  ...        NaN        NaN
48920953        390610206013             5  ...        NaN        NaN
48920954        210150706053             4  ...        NaN        NaN
48920955        390170132001             4  ...        NaN        NaN

[48920956 rows x 7 columns]

In [ ]:
our_data.to_csv('aggragated.data.csv')