In [ ]:
# import the relevant data
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import DataFrame
from numpy import nan
import json

In [ ]:
# Read the data
from google.colab import drive
drive.mount("/content/drive/")
%cd '/content/drive/My Drive/Park_visitation'
data = pd.read_csv('combined.csv')

Mounted at /content/drive/
/content/drive/.shortcut-targets-by-id/1yd8M4YuDK5d4rLAguMN33UbjJKW5j3ZD/Park_visitation

In [ ]:
# Filtering the data
data=data.drop(["Unnamed: 0"], axis=1)
national_data=data.loc[data['national_park'] == 1]
national_data

                          safegraph_place_id  ... national_park
48       sg:83ea967f91374e609cdf05d725601b43  ...             1
169      sg:e888f399ebec48d5b37ec1afec46dbc0  ...             1
2338     sg:3916d65e7fa4422d86cc2703ab9c4797  ...             1
3052     sg:2bf85cfa586042febbc4fd8ccb9e97f7  ...             1
3275     sg:713666d8fabc4356ae7ac32216cf72f6  ...             1
...                                      ...  ...           ...
5424480  sg:a9ab6b1abe60476cbe2c73d628405bed  ...             1
5425292  sg:c11b871760f24551bdd201b7c675fee0  ...             1
5432046  sg:866f9b9ef1f74db78186709838f32203  ...             1
5432182  sg:3d225ec77311428c892c14f36df52d6c  ...             1
5433288  sg:568464ff3d33482c87076e0caf7f2a98  ...             1

[2905 rows x 11 columns]

In [ ]:
# Read data
national_data.to_csv('combined_national.csv')